#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

body{
background: rgba(81, 250, 84, 0.668);
}

p{
  font-size: 2rem;
}

#resultado{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#resultado-jogo{
  text-decoration: underline;
}

#opcoes-jogador{
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 5%;
  border: 1pt solid black
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 100px;
  max-width: 400px;
  height: auto;
}